/* Infinite Moving Cards Animation */
.scroller {
  --animation-duration: 40s;
  --animation-direction: forwards;
}

.animate-scroll {
  animation: scroll var(--animation-duration) var(--animation-direction) linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}
